body {
    background-color: lightslategray;
    /* background-image: url('gradient-small.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 200%; */
    font-family: 'Josefin Sans', sans-serif;
}
h1 {
    font-size: 10vmin;
    color: rgb(255, 255, 255);
    /* font-stretch: wider; */
    letter-spacing: 2vmin;
    margin: 5vmin;
}
h2 {
    font-size: 5vmin;
    color: white;
}
h3 {
    font-size: 2.5vmin;
    color: white;
}
p {
    font-size: 2vmin;
    font-style: italic;
    color: white;
}
a {
    font-family: 'Amiko', sans-serif;
    font-size: 2vmin;
}
a:link,
a:visited {
    color: blanchedalmond;
    background-color: transparent;
    text-decoration: underline;
}
hr {
    width: 75vmin;
    border: 5pt;
    height: 0.25vmin;
    background-color: mintcream;
    margin: auto;
    margin-top: 30pt;
}
tr {
    font-size: 5pt;
    height: 5vmin; 
}
input {
    width: 5vmin;
    height: 5vmin;
    color: white;
}
button {
    width: 20vmin;
    height: 5vmin;
    font-size: 3vmin;
    font-family: 'Amiko', sans-serif;
}
label {
    font-size: 2vmin;
    color: white;
}
.larger {
    width: 10vmin;
    height: 10vmin;
}
.center {
    text-align: center;
    /* background-color: black; */
    border: chartreuse;
    border-radius: 100px;
    margin: 50px;

}
.bold {
    font-weight: bold;
    font-size: 20vmin;
}
.underline {
    font-size: 3vmin;
    text-decoration: underline;
    color: white;
}
.ergebnisse {
    font-size: 3vmin;
}
.navbar > div {
    font-size: 1vmin;
    padding: 2vmin;
    margin-left: auto
    display: inline-block;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 33%;
    text-align: center;
    
}
.tools {
    padding: 1%;
    
}
.glow {
    color: #ffffff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 1vmin rgb(167, 167, 167), 0 0 2vmin #fff, 0 0 3vmin blanchedalmond, 0 0 4vmin blanchedalmond;
    }

    to {
        text-shadow: 0 0 2vmin rgb(150, 150, 150), 0 0 3vmin blanchedalmond, 0 0 4vmin blanchedalmond;
    }
}